* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #081B29;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorful 30s linear infinite;
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }
}

.bar-seconds,
.number-hours {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bar-seconds span {
    position: absolute;
    transform: rotate(calc(var(--index) * 6deg));
    inset: -20px;
    text-align: center;
}

.bar-seconds span:nth-child(5n) p {
    width: 6px;
    height: 18px;
    transform: translateY(1px);
}

.bar-seconds span p {
    display: inline-block;
    width: 2px;
    height: .75rem;
    background-color: turquoise;
    border-radius: 2px;
    box-shadow: 0 0 10px turquoise;
}

.number-hours span {
    position: absolute;
    transform: rotate(calc(var(--index) * 30deg));
    inset: 6px;
    text-align: center;
}

.number-hours span p {
    font-size: 3.25rem;
    color: turquoise;
    text-shadow: 0 0 10px turquoise;
    transform: rotate(calc(var(--index) * -30deg));
}

.hands-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hands-box .hand {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.hands-box .hand i {
    display: inline-block;
    transform-origin: bottom;
    border-radius: 50%;
    box-shadow: 0 0 10px turquoise;
}

.hands-box .hours {
    width: 20rem;
    height: 20rem;
}

.hands-box .hours i {
    width: .5rem;
    height: 10rem;
    background-color: turquoise;
}

.hands-box .minutes {
    width: 28rem;
    height: 28rem;
}

.hands-box .minutes::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-color: turquoise;
    border-radius: 50%;
    box-shadow: 0 0 5px turquoise;
}

.hands-box .minutes i {
    width: .5rem;
    height: 14rem;
    background-color: turquoise;
}

.hands-box .seconds {
    width: 30rem;
    height: 30rem;
}

.hands-box .seconds::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.hands-box .seconds i {
    width: .25rem;
    height: calc(15rem + 4rem);
    background-color: white;
    box-shadow: none;
}